.fuentes {
	font-family: "Berlin Sans FB";
	font-size: 24px;
}
.fuentefrasesintro {
	font-family: "Rockwell Extra Bold";
	font-size: 45px;
}
.redi {
	font-family: "Lucida Console";
	font-size: 14px;
}
